In [79]:
# always get fresh copies!
! cp ~cs186/sp16/hw2/part2/part2.db .
! chmod 700 part2.db
! cp ~cs186/sp16/hw2/part2/part2sampled.db .
! chmod 700 part2sampled.db
! cp ~cs186/sp16/hw2/part2/part2test.db .
! chmod 700 part2test.db

In [80]:
import subprocess, sqlite3, csv, os, sys

# jupyter weirdness; this makes sure that stdout is not buffered
def printNow(s):
    print s
    sys.stdout.flush()

    
def checkFile(f):
    if not (os.path.isfile(f)):
        raise IOError("DB File " + f + " is not here!")


currentDB1 = currentDB2 = "part2test.db"

# for grading dataset
# note that the two DB are different! currentDB1 is smaller in size
if ('CS186GRADER' in os.environ):
    currentDB1 = "part2sampled.db" 
    currentDB2 = "part2.db" 
    
checkFile(currentDB1)
dbQ1 = sqlite3.connect(currentDB1) 
dbQ1.text_factory = str

checkFile(currentDB2)
dbQ2 = sqlite3.connect(currentDB2)
dbQ2.text_factory = str

In [81]:
# Q1
# Degrees of separation
# Expected output: a paths table (as defined), note that we will be checking the original
#                  paths, and not just the average value

def initDegrees():
    dbQ1.executescript("""
        -- create paths table
        DROP TABLE IF EXISTS paths;
        DROP TABLE IF EXISTS pathsLastUpdated;
        DROP INDEX IF EXISTS paths_src_idx;
        DROP INDEX IF EXISTS paths_dst_idx;

        CREATE TABLE paths (
            src varchar(200),
            dst varchar(200),
            length integer,
            PRIMARY KEY (src, dst)
        );
        
        CREATE TABLE pathsLastUpdated (
            src varchar(200),
            dst varchar(200),
            length integer
        );

        CREATE INDEX paths_src_idx ON paths(src);
        CREATE INDEX paths_dst_idx ON paths(dst);
    """);
    dbQ1.commit()
    return


def populatePaths():
    dbQ1.executescript("""
      -- initialize paths with the first level connections
      INSERT INTO paths SELECT
        src,
        dst,
        1
      FROM links;      
      
      -- initialized for your convenience the "last udpated"
      INSERT INTO pathsLastUpdated SELECT
        src,
        dst,
        1
      FROM links;
    """);
    
    dbQ1.commit()
    return;


# Please implement the algorithm such that you don't repeat paths that were previously explored
# For example, for graph a->b->c->d, we want to see (a,b), (b,c), (c,d) then (a,c), (b,d), then (a,d)
# This makes a rather significant performance difference. To this end we have set up the 
#   pathsLastUpdated for you to store intermediate results
def getNewPaths():
    dbQ1.executescript("""
        -- this is an intermediate table for you to store temp data
        DROP TABLE IF EXISTS pathsNew;  
        CREATE TABLE pathsNew (
            src varchar(200),
            dst varchar(200),
            length integer
        );    
        
        INSERT INTO pathsNew        
            -- TODO (hint: use pathsLastUpdated)
            SELECT a.src, b.dst, length + 1 FROM pathsLastUpdated AS a 
                LEFT OUTER JOIN links AS b ON a.dst = b.src WHERE b.dst IS NOT NULL
                AND a.src != b.dst;
            
        -- ;
     """)
    dbQ1.commit()
    return

def updatePathsWithNewpaths():
    dbQ1.executescript("""
        DROP TABLE IF EXISTS pathsLastUpdated;
        DROP VIEW IF EXISTS temp2;
        
        CREATE VIEW temp2 AS
            SELECT DISTINCT * FROM pathsNew;
        
        -- add it to path
        INSERT INTO paths
        -- TODO (hint: use pathsNew)
            SELECT * FROM temp2 AS a 
                WHERE NOT EXISTS (SELECT * FROM paths AS b WHERE a.src = b.src AND a.dst = b.dst);
        -- ;
        
        ALTER TABLE pathsNew RENAME TO pathsLastUpdated;        
    """)
    dbQ1.commit()
    return


def getPathsCount():
    r = dbQ1.execute("SELECT COUNT(*) FROM paths;").fetchone()
    return r[0]


def getAveragePathsLength():
    r = dbQ1.execute("SELECT avg(length) FROM paths;").fetchone()
    return r[0]


def findDegreeDistribution():
    printNow("initializing degrees.  Calling sqlite...")
    initDegrees()
    printNow("Done, now populating paths.  Calling sqlite...")
    populatePaths()
    printNow("Done, now getting pathcount.  Calling sqlite...")
    oldCount = getPathsCount()
    
    i = 0
    while True:
        i += 1
        printNow("Beginning iteration #" + str(i) + ".  Calling sqlite ...")
        getNewPaths()
        printNow("Updating paths")
        updatePathsWithNewpaths()
        currentCount = getPathsCount()
        printNow("Done, current path total is: " + str(currentCount))
        if (currentCount == oldCount):
            break
        else:
            oldCount = currentCount

            
    print 'Converged! The average length of the shortest paths is: ', getAveragePathsLength()

findDegreeDistribution()

initializing degrees.  Calling sqlite...
Done, now populating paths.  Calling sqlite...
Done, now getting pathcount.  Calling sqlite...
Beginning iteration #1.  Calling sqlite ...
Updating paths
Done, current path total is: 3817
Beginning iteration #2.  Calling sqlite ...
Updating paths
Done, current path total is: 5542
Beginning iteration #3.  Calling sqlite ...
Updating paths
Done, current path total is: 7117
Beginning iteration #4.  Calling sqlite ...
Updating paths
Done, current path total is: 8549
Beginning iteration #5.  Calling sqlite ...
Updating paths
Done, current path total is: 9850
Beginning iteration #6.  Calling sqlite ...
Updating paths
Done, current path total is: 11025
Beginning iteration #7.  Calling sqlite ...
Updating paths
Done, current path total is: 12107
Beginning iteration #8.  Calling sqlite ...
Updating paths
Done, current path total is: 13099
Beginning iteration #9.  Calling sqlite ...
Updating paths
Done, current path total is: 13951
Beginning iteration #10.  Calling sqlite ...
Updating paths
Done, current path total is: 14702
Beginning iteration #11.  Calling sqlite ...
Updating paths
Done, current path total is: 15364
Beginning iteration #12.  Calling sqlite ...
Updating paths
Done, current path total is: 15946
Beginning iteration #13.  Calling sqlite ...
Updating paths
Done, current path total is: 16468
Beginning iteration #14.  Calling sqlite ...
Updating paths
Done, current path total is: 16924
Beginning iteration #15.  Calling sqlite ...
Updating paths
Done, current path total is: 17285
Beginning iteration #16.  Calling sqlite ...
Updating paths
Done, current path total is: 17578
Beginning iteration #17.  Calling sqlite ...
Updating paths
Done, current path total is: 17811
Beginning iteration #18.  Calling sqlite ...
Updating paths
Done, current path total is: 17958
Beginning iteration #19.  Calling sqlite ...
Updating paths
Done, current path total is: 18050
Beginning iteration #20.  Calling sqlite ...
Updating paths
Done, current path total is: 18111
Beginning iteration #21.  Calling sqlite ...
Updating paths
Done, current path total is: 18142
Beginning iteration #22.  Calling sqlite ...
Updating paths
Done, current path total is: 18153
Beginning iteration #23.  Calling sqlite ...
Updating paths
Done, current path total is: 18158
Beginning iteration #24.  Calling sqlite ...
Updating paths
Done, current path total is: 18159
Beginning iteration #25.  Calling sqlite ...
Updating paths
Done, current path total is: 18159
Converged! The average length of the shortest paths is:  6.95357673881

In [82]:
# Q2
# Expected output: nodes table populated with pagerank results 
# Note:
# - keeping track of the old PR value helps find convergence, though it's not required in the
#   assignment, it will help you see how close the values end up becoming.
def initPageRank():
    dbQ2.executescript("""
        DROP TABLE IF EXISTS nodes;
        CREATE TABLE nodes (
            node varchar(200) PRIMARY KEY,
            prevpr real,
            currentpr real,
            outdegree integer
        );
    """);
    dbQ2.commit()
    return


def populatePageRank():
    dbQ2.executescript("""
        INSERT INTO nodes
        SELECT
            DISTINCT links.src,
            1,
            1,
            COUNT(links.dst)
        FROM
            links
        GROUP BY
            links.src;
               
        -- corner case #1 nodes with no outgoing edges
        INSERT INTO
            nodes
        SELECT
            DISTINCT links.dst,
            1,
            1,
            0
        FROM
            links
        WHERE
            links.dst NOT IN (
                SELECT node FROM nodes
            );    
            
        -- corner cases #2 nodes with no incoming edges
        UPDATE
            nodes
        SET
            currentpr = 0.15
        WHERE
            nodes.node not in (
                SELECT DISTINCT dst
                FROM links
            );
    """);
    dbQ2.commit()

    return


def updatePageRank():

    dbQ2.executescript(""" 
        DROP VIEW IF EXISTS temp;
        DROP VIEW IF EXISTS nodesTemp;
        DROP VIEW IF EXISTS weight;
        DROP TABLE IF EXISTS nodes_holder;
        
        -- TODO (hint: you might want a helper table to store intermediate results)
        
        -- temporary table to hold nodes so that views won't get messed up
        CREATE TABLE nodes_holder (
            node varchar(200) PRIMARY KEY,
            prevpr real,
            currentpr real,
            outdegree integer
        );
        INSERT INTO nodes_holder 
            SELECT * FROM nodes;
        
        DELETE FROM nodes;
        
        -- temp is used to group up incoming nodes to their destinations
        CREATE VIEW temp AS
            SELECT * FROM nodes_holder AS a, links as b WHERE b.dst = a.node;
        
        -- pairs all nodes that are heading to same vertex and sums their normalized weight
        CREATE VIEW nodesTemp AS
            SELECT a.node , a.currentpr AS prevpr, SUM(b.currentpr/b.outdegree) as sum, a.outdegree 
            FROM temp AS a, nodes_holder AS b WHERE b.node = a.src GROUP BY a.node;
        
        -- creates total weight (add .15 + .85 * ...)
        CREATE VIEW weight AS
            SELECT node, prevpr, .15 + .85 * sum AS currentpr, outdegree FROM nodesTemp;
        
        -- add values from weight to nodes
        
        INSERT INTO nodes SELECT * FROM weight;
        INSERT INTO nodes SELECT * FROM nodes_holder WHERE node not in(SELECT DISTINCT dst FROM links);
            
    """);
    dbQ2.commit()

    return

def topPageRank():
    
    dbQ2.executescript("""
    
        DROP VIEW IF EXISTS topPR;
        CREATE VIEW topPR AS
        SELECT *
        FROM nodes
        ORDER BY currentpr DESC
        LIMIT 100;
        
    """);
    dbQ2.commit()

    return

def printTopPageRank():
    # we need to create an cursor object to fetch results to this program
    #    which we didn't need to before since it was just updating the DB
    r = dbQ2.execute("SELECT * FROM topPR;").fetchall()
    for i in r:
        print i
    

def runPageRank(N=10):
    printNow('Initializing page rank')
    initPageRank()
    printNow('Populating PageRank')
    populatePageRank()
    for i in xrange(N):
        printNow('Updating PageRank for iteration {}'.format(i))
        updatePageRank()
        
    printNow('Running top pagerank!')        
    topPageRank()
    printNow('Done! Here are your results')        
    printTopPageRank()
    
    return


runPageRank()

Initializing page rank
Populating PageRank
Updating PageRank for iteration 0
Updating PageRank for iteration 1
Updating PageRank for iteration 2
Updating PageRank for iteration 3
Updating PageRank for iteration 4
Updating PageRank for iteration 5
Updating PageRank for iteration 6
Updating PageRank for iteration 7
Updating PageRank for iteration 8
Updating PageRank for iteration 9
Running top pagerank!
Done! Here are your results
('United_States', 42.94909588388277, 43.086730852961665, 294)
('France', 28.824087322411664, 28.941022901988724, 85)
('Europe', 28.437573919393728, 28.545591377343516, 159)
('United_Kingdom', 27.985723871248915, 28.08984502464892, 168)
('English_language', 21.818058569049207, 21.902783517018044, 118)
('Germany', 21.638195302444558, 21.722961512744124, 169)
('World_War_II', 21.211186128106835, 21.29122959739671, 119)
('England', 20.09345568016141, 20.15586483349518, 172)
('Latin', 19.79615592340489, 19.86028286497774, 29)
('India', 18.106733503836278, 18.182516893300846, 81)
('Japan', 17.445810735538686, 17.510449307583638, 98)
('Italy', 16.682177239479984, 16.750085696624357, 85)
('Spain', 16.338179392461328, 16.407094040754505, 89)
('China', 15.990089478754932, 16.05384763921514, 90)
('Russia', 15.686252387834115, 15.750365413559086, 105)
('Time_zone', 15.536164783969925, 15.61124227595233, 39)
('Canada', 15.411742294301607, 15.461985499650497, 63)
('Currency', 14.506555784289676, 14.579767461540287, 22)
('Australia', 14.375115795324808, 14.421122993391718, 86)
('Africa', 14.223969655533448, 14.278060735476434, 212)
('London', 13.83245575997556, 13.874268040015144, 102)
('Christianity', 13.541715420436676, 13.60389338263794, 49)
('Animal', 12.880240751279267, 12.879508895532021, 29)
('List_of_countries_by_system_of_government', 12.695948093270756, 12.760977314001087, 207)
('United_Nations', 12.594403531477331, 12.652579310795536, 113)
('French_language', 12.283931049362902, 12.336014937640787, 85)
('Islam', 12.18459469981658, 12.245142745588604, 90)
('North_America', 12.155202021817132, 12.18876730421829, 77)
('Scientific_classification', 11.608393112231875, 11.60680371655313, 25)
('World_War_I', 11.499262393567143, 11.545156431546962, 82)
('Egypt', 10.915628381828208, 10.96616470557996, 70)
('19th_century', 10.84360080257117, 10.887434449363445, 167)
('Portugal', 10.662681536846106, 10.710670231566235, 52)
('20th_century', 10.588976369028439, 10.625981642466757, 93)
('Earth', 10.497108174774345, 10.523739750668508, 118)
('European_Union', 10.383829005101681, 10.430627555149142, 133)
('Netherlands', 10.282651866223276, 10.324109764746106, 116)
('Asia', 10.116530291517678, 10.154262733471448, 137)
('Soviet_Union', 10.0732527169606, 10.117285228192229, 65)
('Paris', 9.998832644047678, 10.036405975205883, 112)
('People%27s_Republic_of_China', 9.951880941562475, 9.99485337404605, 87)
('Scotland', 9.61151409767311, 9.642790398035407, 112)
('Roman_Empire', 9.580696253648027, 9.62524808976287, 53)
('Middle_Ages', 9.546343689344173, 9.586267769683904, 69)
('Atlantic_Ocean', 9.437561890086176, 9.473197896623699, 125)
('Sweden', 9.213733019426867, 9.247087221668407, 96)
('Roman_Catholic_Church', 9.011296573899447, 9.04997343168532, 55)
('German_language', 9.004713975171454, 9.041209038238568, 77)
('Jew', 8.792149820925165, 8.831663341421812, 86)
('Agriculture', 8.698656416812247, 8.7323975198826, 57)
('Poland', 8.558769018107169, 8.596627910333856, 61)
('Ireland', 8.525439878947616, 8.554615206300221, 71)
('Arabic_language', 8.30730662940899, 8.347873534466599, 57)
('Spanish_language', 8.210982700961072, 8.24374513627239, 79)
('Football_%28soccer%29', 8.017283647101495, 8.048764008832602, 21)
('South_Africa', 7.843270657262747, 7.871623151221207, 101)
('Brazil', 7.82232264840956, 7.851827942952892, 80)
('South_America', 7.721473268247478, 7.746717296340076, 99)
('Middle_East', 7.67794565253905, 7.712842589057449, 83)
('New_York_City', 7.676938159701252, 7.699631508735189, 71)
('New_Zealand', 7.631164898601769, 7.6546261858456415, 86)
('Human', 7.60711799680414, 7.61918553927824, 137)
('Greece', 7.471474696327521, 7.5036914054143855, 114)
('Oxygen', 7.45089141273657, 7.461205105483529, 30)
('Chordate', 7.33831489334407, 7.337280482674766, 8)
('Judaism', 7.285635835403351, 7.319574769798093, 47)
('Rome', 7.272872393922022, 7.302010491151251, 71)
('Denmark', 7.165388732061908, 7.192688173927838, 51)
('Plant', 7.171309408876039, 7.174524244675122, 70)
('Turkey', 7.110404945602496, 7.143131571297897, 172)
('Petroleum', 7.064081291404277, 7.091710524425834, 76)
('Ancient_Rome', 7.027553934092733, 7.055335390883582, 88)
('Mexico', 7.015797639565064, 7.03776222409206, 67)
('Switzerland', 6.9271491203338655, 6.95529620124849, 45)
('California', 6.894108776697372, 6.9145393547025655, 39)
('Belgium', 6.854511738825591, 6.882824350754946, 61)
('Mammal', 6.873801775487071, 6.87754821687429, 42)
('Iran', 6.827733644752393, 6.860247125551884, 108)
('Israel', 6.808252360554961, 6.839441308337245, 169)
('Great_Britain', 6.748290608877455, 6.773193179403667, 35)
('Philosophy', 6.7441932900803, 6.771467075510871, 87)
('18th_century', 6.6604248407446, 6.689096609178921, 95)
('Austria', 6.615300119353167, 6.642555309950667, 48)
('Iron', 6.584223124870433, 6.602615544824323, 57)
('Capital', 6.532047377288296, 6.558678955172952, 64)
('Buddhism', 6.506049019436021, 6.536272622846007, 50)
('Water', 6.5015749694208385, 6.5148803394585215, 131)
('Mediterranean_Sea', 6.462482884378641, 6.491360177310335, 61)
('Bird', 6.366755784749606, 6.365880199653417, 56)
('Democracy', 6.286354457036295, 6.316225232750039, 44)
('Electron', 6.289622652488719, 6.302908550438457, 22)
('Norway', 6.1993596799348225, 6.222190991037434, 62)
('Mathematics', 6.146915333424896, 6.167874617868368, 63)
('Ottoman_Empire', 6.123046050537589, 6.155079118359098, 84)
('Indonesia', 6.12965774073464, 6.1550388792631505, 57)
('Pacific_Ocean', 6.1122390423329, 6.13275720233302, 87)
('Physics', 6.115116747660128, 6.132190627707744, 107)
('Climate', 5.939107080160516, 5.963639659183378, 8)
('Ancient_Greece', 5.881977901962563, 5.9049667573015565, 65)
('Religion', 5.828167573094504, 5.852894802609079, 47)

In [83]:
# you should have ran the two previous cells before running the test!
# make sure also that you have set the db to part2test.db!
! ./test.sh

Error: no such table: paths
ERROR q1! See your_output/q1.csv
Error: no such table: topPR
ERROR q2! See your_output/q2.csv